<!DOCTYPE html>
<head>
    <title>Sign up Page</title>
    <script>
        
        function Sign_Up(event)
        {
            event.preventDefault();
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            fetch("/user_signup",{
                method : "POST",
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify({"username":username,"password":password})
            })
            .then(response=>{if(response.status == 200)
            {
                alert("Sign Up Successful")
                window.location.href = "/home"
            }
            else{
                alert("Username already in use!")
            }})
        }
    </script>
</head>
<body>
    <h1>Sign Up</h1>
    <form onsubmit="Sign_Up(event)">
        <input type="text" id = "username" placeholder="Enter username">
        <input type="password" id = "password" placeholder="Enter password">
        <input type = "submit" value="Sign Up">
    </form>
</body>